

.container-watchshow {
  display: flex;
  justify-content: space-evenly
}

.container-watchshow .btn {
  font-size: 20px;
  font-weight: bold;
  border-radius: 16px;
  width: 150px;
}

.container-watchshow h2 {
  font-weight: bold;
}

.container-watchshow p {
  font-size: 18px;
}
