
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://qph.fs.quoracdn.net/main-qimg-ff3264c29718171aa6ac08bd429f4643-c">
  <h1 style="margin-bottom: 32px; font-family: cursive; font-size: 80px;">WatchBnB</h1>
  <div class="container" style="display: flex; justify-content: space-between">
    <div style="margin-right: 100px;">
      <p style="font-weight: bold;">Can't afford to buy a Rolex? Then RENT one!</p>
      <div class="button-container">
        <%= link_to "Rent Now", watches_path, class: "btn btn-danger" %>
      </div>
    </div>
    <div>
      <p style="font-weight: bold; text-shadow: 20px;">Got watches and want money? Then List your watch!</p>
      <div class="button-container">
        <%= link_to "List Your Watch", new_watch_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Watchbnb Inc.</p>
  </div>
</div>
