<h1>
  <%@watches.each do |watch|%>
    <%= watch.name %>
    <%= watch.style %>
    <%= watch.location %>
  <%end%>
</h1>
<% if policy(Watch).create? %>
  <%= link_to "New watch", new_watch_path %>
<% end %>
