

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(209, 199, 199, 0.466);
  padding: 12px;
  border-radius: 16px;
  width: 600px;
}


.review-bubble {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 12px;
  background: white;
  border-radius: 32px;
  padding: 16px;
}

.review-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
