.search-area {
  margin: 16px;
}

::placeholder{
  padding-left: 10px;
}

.search-box {
  width: 15%;
}

.list-watch {
  width: 100%;
  margin-top: 16px;
}

input {
  text-indent:10px;
}

.right-side-search {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.search-form-control {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
  width: 90%;
  outline: rgba(0, 0, 0, 0.1) 1px solid;
}

.search-form-control .btn {
  width: 50px;
  height: 50px;
  font-size: small;
}
